<!DOCTYPE html>
<html>

<head>
  <title>Email Verification</title>
</head>

<body>
  <h1>Email Verification</h1>
  <p>
    <%= message %>
  </p>
</body>
<footer class="footer" style="font-weight: bold;
position: absolute;
bottom:0; 
background-color: lightgray;
padding-top: 1px;
padding-right: 605px;
padding-bottom: 2px;
padding-left: 605px;
opacity:0.7;">
  <p style="color:purple;
              font-size:18px;"> Asma Taba Senior BA/IT</p>

</footer>

</html>